@import 'reset';
@import 'config';

.container {
    width: 80%;
    margin: 0 auto;
    font-size: 0;
}
//---header 開始---//

header {
    height: 100vh;
    background: url(../img/Ocean.jpg)no-repeat center;
    background-size: cover;
    overflow: hidden;
    & h4 {
        font-size: 1.6rem;
        color: #fff;
        text-align: center;
        transition: 2s;
        text-shadow: 5px 5px 10px #000;
        cursor: pointer;
        margin: 24% auto 0 auto;
        &:hover {
            transition: 1s;
            font-size: 2.2rem;
        }
    }
    .icon-a{
        width: 100%;
        text-align: center;
        margin: 3% auto;
        .icon {
            width: 5%;
            padding-bottom: 5%;
            margin: 2%;
            display: inline-block;
            transition: 1s;
            &.icon-fb {
                background: url(../img/fb.png)no-repeat;
                background-size: 100%;
                &:hover {
                    transform: rotate(360deg);
                    transition: 1s;
                    background-color: #4267B2;
                    border-radius: 50%;    
                }
            }
            &.icon-ig {
                background: url(../img/ig.png)no-repeat;
                background-size: 100%;
                &:hover {
                    transform: rotate(360deg);
                    transition: 1s;
                    background-color:#d047d1;
                    border-radius: 50%;    
                }
            }
            &.icon-github {
                background: url(../img/github.png)no-repeat;
                background-size: 100%;
                &:hover {
                    transform: rotate(360deg);
                    transition: 1s;
                    background-color: #6A2A87;
                    border-radius: 50%;    
                }
            }
        }
    }
    .downarrow{
        display: block;
        background: url(../img/down.png) no-repeat;
        background-size: 100%;
        padding-bottom: 5%;
        width: 5%;
        margin: 8% auto 0 auto;
        cursor: pointer;
        animation-name: downarrow;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}
//---header 結束---//

//---nav 開始---//
nav {
    width: 100%;
    background: #c3c3c3;
    top: 0;
    &.fixed {
        position: fixed;
        z-index: 998;
    }
    .container {
        width: 80%;
        font-size: 0;
        & .home {
            background: url(../img/home.png) no-repeat;
            width: 3%;
            padding-bottom: 3%;
            background-size: 100%;
            margin-left: 1%;
            display: inline-block;
            vertical-align: middle;
            transition: 1s;
            &:hover {
                transition: 1s;
            }
        }
        & .nav-menu {
            display: inline-block;
            text-align: right;
            width: 96%;
            vertical-align: middle;
            & li {
                position: relative;
                display: inline-block;
                font-weight: bold;
                width: 13%;
                text-align: center;
                padding: 2% 0;
                border-bottom: 4px solid rgba(255, 255, 255, 0);
                // cursor: pointer;
                transition: 0.3s;
                a {
                    display: block;
                    &:before {
                        content:'';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        font-size: 0.6rem;
                        color: #1f1f1f;
                        z-index: 999;
                    }
                    &.nav-menu-a {
                        &:before {
                            content:'PORTFOLIO';    
                        }
                    }
                    &.nav-menu-b {
                        &:before {
                            content:'SKILLS';  
                        }
                    }
                    &.nav-menu-c {
                        &:before {
                            content:'PROFILE';
                        }
                    }
                    &.nav-menu-d {
                        &:before {
                             content:'EXPERIENCE';  
                        }
                    } 
                }
                &:hover {
                    border-bottom: 4px solid #0D68BE;
                    transition: 0.3s;
                    &:before {
                        color: #0D68BE;
                    }
                } 
            }
        }
    }
}   
//---nav 結束---//

.person {
    height: 100vh;
}
h4 {
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: 6%;
}
//---PORTFOLIO 開始---//
.portfolio {
    background: #fff;
    &.fixed {
       padding-top: 63px;;
    }
    .demo li {
        position: relative;
        width: 31.33333%;
        display: inline-block;
        vertical-align: middle;
        margin: 1% 1%;
        transition: 0.5s;
        overflow: hidden;     
        &:after {
            opacity: 0;
            position: absolute;
            left: 50%;
            transition: 0.3s;
            content: '';
            transform: translate(-50%,50%);
            font-size: 0.8rem;
            color: #fff;
        }
        &:hover {
            transform: scale(1.1);
            &:after {
                opacity: 1;
                transform: translate(-50%,-400%);

            }
        }
        a {
            display: block;
            padding-bottom: 50%;
            text-decoration: none;
            margin: 0 auto;
            text-align: center;
            color: #fff;
            border-radius: 5px;
        }
        &.demo1 {
            a {
                background: url(../img/1.png)no-repeat center;
                background-size: 100%;
            }
            &:after {
                content: 'Blizzard 毛玻璃';
            }
        }
        &.demo2 {
            a {   
                background: url(../img/2.png)no-repeat center;
                background-size: 100%;
            }
            &:after {
                content: '登入頁 DEMO';
            }
        }
        &.demo3 {
            a{   
                background: url(../img/3.png)no-repeat center;
                background-size: 100%;
            }
            &:after {
                content: '旅遊網站 DEMO';
            }
        }
        &.demo4 {
            a{ 
                background: url(../img/4.png)no-repeat center;
                background-size: 130%;
            }
            &:after {
                content: '手機版登入頁';
            }
        }
        &.demo5 {
            a{   
                background: url(../img/5.png)no-repeat center;
                background-size: 100%;
            }
            &:after {
                content: '履歷 DEMO';
            }
        }
        &.demo6 {
            a{
                background: url(../img/6.png)no-repeat center;
                background-size: 100%;
            }
            &:after {
                content: '扭蛋 DEMO';
            }
        }
    } 
}
//---PORTFOLIO 結束---// 
//---SKILLS 開始---//
.skill {
    background: #F2F2F2;
    &.fixed {
        padding-top: 63px;
     }
    ul {
        p {
            font-size: 1rem; 
            display: inline-block;
            text-align: center;
        }
        li {
            width: 50%;
            display: inline-block;
            text-align: center;
            &.web_area {
                position: relative;
                padding-bottom: 35%;
                .html5,.css3,.jquery,.sass,.github {
                    position: absolute;
                    width: 20%;
                    padding-bottom: 20%;
                    transform: rotate(0deg) scale(1);
                    transition: 1s;
                    opacity: 0.6;
                    animation-name: action1;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    transition: 0.3s;
                    cursor: pointer;
                    &.html5 {
                        top: 0;
                        left: 50%;
                        margin-top: 10%;
                        transform:rotate(0deg) translateX(-50%) scale(1);
                        background: url(../img/html5.png)no-repeat center;
                        background-size: 80%;
                    }
                    &.css3 {
                        top: 0;
                        left: 20%;
                        margin-top: 25%;
                        background: url(../img/css3.png)no-repeat center;
                        background-size: 80%;
                    }
                    &.jquery {
                        top: 0;
                        left: 30%;
                        margin-top: 45%;
                        background: url(../img/jquery.png)no-repeat center;
                        background-size: 80%;
                    }
                    &.sass {
                        top: 0;
                        right: 30%;
                        margin-top: 45%;
                        background: url(../img/sass.png)no-repeat center;
                        background-size: 80%;
                    }
                    &.github {
                        top: 0;
                        right: 20%;
                        margin-top: 25%;
                        background: url(../img/github-1.png)no-repeat center;
                        background-size: 80%;
                    }
                }
                &:hover {
                    .html5,.css3,.jquery,.sass,.github {
                        opacity: 1;
                        transform: rotate(720deg) scale(1.2);
                        &.html5 {
                            transform: rotate(720deg) translateX(-50%) scale(1.2);
                        }
                        &.css3 {
                            left: 15%;
                        }
                        &.github {
                            right: 15%;
                        }
                        &.sass {
                            right: 25%;
                            margin-top: 50%;
                        }
                        &.jquery {
                            left:25%;
                            margin-top: 50%;
                        }
                    }
                }
            }
            &.office_area {
                position: relative;
                padding-bottom: 35%;
                .word,.excel,.ppt {
                    position: absolute;
                    width: 21%;
                    padding-bottom: 21%;
                    display: inline-block;
                    transform: rotate(0deg) scale(1);
                    transition: 1s;
                    opacity: 0.6; 
                    animation-name: action;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    transition: 0.3s;
                    cursor: pointer;
                    &.word {
                        background: url(../img/word.png)no-repeat center;
                        background-size: 80%;
                        top: 0;
                        margin-top: 15%;
                        left: 50%;
                        transform:rotate(0deg) translateX(-50%) scale(1);
                    }
                    &.excel {
                        background: url(../img/excel.png)no-repeat center;
                        background-size: 80%;
                        top: 0;
                        margin-top: 35%;
                        left: 25%;
                    }
                    &.ppt {
                        background: url(../img/powerpoint.png)no-repeat center;
                        background-size: 80%;
                        top: 0;
                        margin-top: 35%;
                        right: 25%;
                    }
                }
                &:hover {
                    .word,.excel,.ppt {
                        opacity: 1;
                        transform: rotate(720deg) scale(1.2);
                        &.word {
                            transform:rotate(720deg) translateX(-50%) scale(1.2);
                        }
                        &.excel {
                            margin-top: 40%;
                            left: 15%;
                        }
                        &.ppt {
                            margin-top: 40%;
                            right: 15%;
                        }
                    }
                }
            }
        }
    }
}
//---SKILLS 結束---//
//---profile 開始---//
.profile {
    background: #fff;
    &.fixed {
        padding-top: 63px;;
     }
    .capital {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        margin: 1% 4% 1% 6%;
        .photo {
            width: 100%;
            overflow: hidden;
            border-radius: 20px; 
            transition: 0.3s;
            cursor: pointer;
            .photobackgroud {
                padding-bottom: 80%;
                background: url(../img/photo.jpg)no-repeat center;
                background-size: cover;
                background-color: #fff;
                border-radius: 20px; 
                transition: 0.3s;
            }
            &:hover {
                .photobackgroud {
                    transform: scale(1.3);
                    opacity: 0.8;
                }
            }
        }
        .imformation {
            width: 100%;
            p {
                font-size: 0.6rem;
                margin: 4% 0;
                font-weight: 500;
                span {
                    font-weight: 700;
                }
            }
        }
    }
    .content {
        width: 60%; 
        display: inline-block;
        vertical-align: top;
        p {
            font-size: 0.45rem;
            margin: 2% 1%;
            line-height: 0.6rem;
            span {
                font-size: 0.75rem;
                font-weight: bold;
            }
        }
    }
}    
//---profile 結束---//
//---EXPERIENCE 開始---//
.experience {
    background-color: #F2F2F2;
    &.fixed {
        padding-top: 63px;;
     }
    .container {
        width: 90%;
        ul {
            margin: 1% 0;
            >li {
                width: 23%;
                display: inline-block;
                margin-left: 1%;
                background-color: #e4e4e4;
                padding: 1%;
                border: 1px solid #fff;
                border-radius: 20px;
                box-sizing: border-box;
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    transform: translate(0%,-10%) scale(1.1);
                    box-shadow: 0 0 10px rgba(#000,0.5);
                    background-color: #fff;
                }
                &:last-child {
                    margin-right: 1%;
                }
                ol {
                    width: 100%;
                    text-align: left;
                    display: inline-block;
                    vertical-align: top;
                    li {
                        width: 100%;
                        vertical-align: top;
                        margin-bottom: 5% ;
                        &.title {
                            p {
                                font-size: 0.85rem;
                            }
                        }
                        .icon {
                            display: inline-block;
                            vertical-align: middle;
                            width: 20%;
                            margin-right: 5%;
                            &.shake {
                                animation-name: shake;
                                animation-duration: 1.2s;
                                animation-iteration-count: 1;
                            }
                        }
                        p {
                            display: inline-block;
                            vertical-align: middle;
                            width: 75%;
                            font-size: 0.45rem;
                            line-height: 0.75rem;
                            span {
                                font-size: 0.35rem;
                            }
                        }
                    }
                    &.education {
                        .title {
                            .icon {
                                background: url(../img/education.png)no-repeat center;
                                background-size: 100%;
                                padding-bottom: 20%;
                            }
                        }
                    }
                    &.experienced {
                        .title {
                            .icon {
                                background: url(../img/experience.png)no-repeat center;
                                background-size: 100%;
                                padding-bottom: 20%;
                            }
                        }
                    }
                    &.license {
                        .title {
                            .icon {
                                background: url(../img/license.png)no-repeat center;
                                background-size: 100%;
                                padding-bottom: 20%;
                            }
                        }
                    }
                    &.interest {
                        .title {
                            .icon {
                                background: url(../img/star.png)no-repeat center;
                                background-size: 100%;
                                padding-bottom: 20%;
                            }
                        }
                    }
                }
            }
        }
    }
    }

//---EXPERIENCE 結束---//



@media screen and (max-width:1000px) {
    .container {
        width: 100%;
    }
    //---header 開始---//
    
    header {
        height: 100%;
        & h4 {
            font-size: 4rem;
        }
        .icon-a{
            .icon {
                width: 7%;
                padding-bottom: 7%;
            }
        }
        .downarrow{
            margin: 5% auto 3% auto;
        }
    }
    //---header 結束---//
    
    //---nav 開始---//
    nav { 
        .container {
            width: 100%;
            & .home {
                width: 8%;
                padding-bottom: 8%;
            }
            & .nav-menu {
                width: 90%;
                & li {
                    width: 22%;
                    padding: 4% 0;
                    a {
                        &:before {
                        font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }   
    //---nav 結束---//
    
    .person {
        height: 100%;
    }
    h4 {
        font-size: 4rem;
    }
    //---PORTFOLIO 開始---//
    .portfolio {
        .demo li {
            width: 90%;
            display: block;  
            margin: 5% 5%;     
        } 
    }
    //---PORTFOLIO 結束---// 
    //---SKILLS 開始---//
    .skill {
        ul {
            li {
                width: 100%;
                display: block;
                p {
                    font-size: 2.6rem; 
                }
                &.web_area {
                    padding-bottom: 70%;
                }
                &.office_area {
                    padding-bottom: 65%;
                }
            }
        }
    }
    //---SKILLS 結束---//
    //---profile 開始---//
    .profile {
        .capital {
            width: 90%;
            display: block;
            margin: 1% 5%;
            .imformation {
                width: 65%;
                text-align: center;
                margin: 0 auto;
                p {
                    font-size: 2rem;
                    margin: 4% 0;
                }
            }
        }
        .content {
            width: 90%; 
            display: block;
            margin: 0 auto;
            p {
                font-size: 2.3rem;
                line-height: 3.3rem;
                span {
                    font-size: 3.3rem;
                }
            }
        }
    }    
    //---profile 結束---//
    //---EXPERIENCE 開始---//
    .experience {
        .container {
            width: 100%;
            ul {
                >li {
                    width: 85%;
                    display: block;
                    margin: 2% auto;
                    &:last-child {
                        margin: 2% auto;
                    }
                    ol {
                        display: block;
                        li {
                            &.title {
                                .icon {
                                    margin: 0 7%;
                                }
                                p {
                                    font-size: 3rem;
                                    width: 66%;
                                    text-align: left;
                                }
                            }
                            p {
                                font-size: 2.6rem;
                                line-height: 4rem;
                                text-align: center;
                                width: 100%;
                                span {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    //---EXPERIENCE 結束---//
       
}
